[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'Audio'
Type=Service
Actions=Play;
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play Audio CD with Cantata
Name[de]=Audio-CD mit Cantata abspielen
Icon=cantata
Exec=cantata cdda://?dev=%d
