body {
    margin-top: 40px;
}

.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-bottom: 0px;
    height: 40px;
}

.btn-nav {
    float: left;
    font-size: 130%;
    valign: middle;
    padding-left: 4px;
    padding-right: 4px;
}

.btn-nav > i {
    font-size: 120%;
}

.btn-nav:hover,.btn-nav:active,.btn-nav:focus {
    opacity: 0.7;
}

.btn-menu {
    float: right;
 }

.btn-selector {
    min-width: 64px;;
 }

.menuitem {
    cursor: pointer;
    font-size: 120%;
 }

.page {
    font-size: 120%;
    overflow-y: auto;
    position: fixed;
    top: 42px;
    bottom: 54px;
    left: 0px;
    right: 0px;
}

.subpage {
    font-size: 120%;
    overflow-y: auto;
    position: fixed;
    top: 104px;
    bottom: 54px;
    left: 0px;
    right: 0px;
}

.controlpage {
    font-size: 120%;
    overflow-y: auto;
    position: fixed;
    top: 84px;
    bottom: 54px;
    left: 0px;
    right: 0px;
}

.header {
    font-size: 120%;
    width: 100%;
}

.subtext {
    font-size: 75%;
    opacity: 0.6;
 }

.libraryitem {
    margin: 0.05ex;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.divider {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    clear: both;
}

.playqueueline {
    margin: 0px;
}

.titlebar {
    position: fixed;
    top: 48px;
    cursor: pointer;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

.titlebar > img {
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 6px;
    margin-top: -3px;
}

.playqueueindent {
    width: 50px;
    height: 16px;
    float: left;
}

.playqueueduration {
    float:right;
    align:right;
}

.libraryitem > img {
    width: 46px;
    height: 46px;
    float: left;
    margin-top: -2px;
    margin-right: 4px;
}

.titleitem {
    font-weight: bold;
    padding-bottom: 0.75ex;
}

.titlechevron {
    vertical-align: middle;
    margin-right: 0.1ex;
    margin-top: 0.75em;
    margin-left: -4px;
    float: left;
}

.headerbuttons {
    font-size: 120%;
    float:right;
    vertical-align: middle;
    margin-top: 0.75em;
    margin-right: 8px;
}

.itembuttons {
    font-size: 120%;
    float:right;
    vertical-align: middle;
    margin-top: 0.25em;
}

.smallitembuttons {
    font-size: 120%;
    float:right;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0.15em;
}

.itembutton {
    opacity:0.7;
    margin-right: 1ex;
}

.itembutton:hover {
    opacity:1.0;
}

.trashbutton {
    margin-right: 2ex;
}

.ellide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled {
    opacity: 0.5;
}

.miniplayer {
    position:fixed;
    height: 54px;
    bottom: 0px;
    width: 100%;
}

.miniplayer > img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 6px;
}

.miniplayer > div {
    float: left;
}

.miniplayer-btn {
    margin-top: 12px;
    vertical-align: middle;
    margin-left: 6px;
    maring-right: 6px;
    font-size: 24px;
    cursor: pointer;
}

.miniplayer-btn-play {
    margin-top: 10px;
    font-size: 32px;
}

.miniplayercontrols {
    margin-left: 0px;
    margin-right: 8px;
    float:left;
}

.miniplayer-np {
    position:absolute;
    left: 196px;
    top: 2px;
    width: 100%;
}

.miniplayertext {
    margin-top: 4px;
    font-size: 18px;
    margin: 0px;
}

.miniplayersubtext {
    font-size: 12px;
    opacity: 0.6;
    margin: 0px;
}

.songprogress {
    height: 4px;
}
