[Desktop Entry]
Type=Application
Name=Cantata
GenericName=Music Player Client
Icon=cantata
Exec=cantata %U
Categories=Qt;KDE;AudioVideo;Player;
X-DBUS-StartupType=Unique
