<div class="page">
    <div ng-repeat="track in data.tracks track by track.id" class="libraryitem">
        <img ng-if="undefined!==track.title" lazy-src="/api/v1/covers?artistId={{track.artistId}}&albumId={{track.albumId}}"
             onerror="if (this.src != 'misc/album.png') this.src = 'misc/album.png';"/>
        <div class="playqueueindent" ng-if="undefined===track.title"/>
        <div class="playqueueduration">
            <div align="right"><b>{{track.albumDuration | duration }}</b></div>
            <hr class="playqueueline" ng-if="undefined!==track.title"/>
            <div align="right" ng-class="{'current-song': track.id===currentTrack}">{{track.duration | duration}}</div>
        </div>
        <div>
            <div class="ellide"><b>{{track.title}}</b></div>
            <hr class="playqueueline" ng-if="undefined!==track.title"/>
            <div class="ellide noselect" on-long-press="showMenu(track)" ng-class="{'current-song': track.id===currentTrack}">{{track.track}}</div>
        </div>
        <hr class="divider"/>
    </div>
<div>
