<div ng-class="level==='tracks' ? 'subpage' : 'page'">
    <div ng-if="level==='playlists'">
        <div ng-repeat="playlist in data.playlists" class="libraryitem"  ng-click="showTracks(playlist)">
            <div class="smallitembuttons">
                <i class="fa fa-trash fa-fw itembutton trashbutton" ng-click="command('del', playlist, $event)"/>
                <i class="fa fa-plus fa-fw itembutton" ng-click="command('add', playlist, $event)"/>
                <i class="fa fa-play fa-fw itembutton" ng-click="command('play', playlist, $event)"/>
            </div>
            <div>
                <div class="ellide">{{playlist}}</div>
            </div>
            <hr class="divider"/>
        </div>
    </div>
    <div ng-if="level==='tracks'">
        <div ng-if="undefined!==playlist" ng-click="back()" class="titlebar">
            <div class="titlechevron titleitem">
                <i class="fa fa-chevron-left fa-fw"/>
            </div>
            <div class="headerbuttons">
                <i class="fa fa-plus fa-fw itembutton" ng-click="command('add', playlist, $event)"/>
                <i class="fa fa-play fa-fw itembutton" ng-click="command('play', playlist, $event)"/>
            </div>
            <div class="titleitem">
                <div class="ellide noselect" on-long-press="showMenu(playlist)">{{ playlist }}</div>
                <div class="subtext ellide noselect" on-long-press="showMenu(playlist)">{{ data | displayPlaylistDetail}}</div>
            </div>
            <hr class="divider"/>
        </div>
        <div ng-repeat="track in data.tracks" class="libraryitem">
            <div class="itembuttons">
                <i class="fa fa-trash fa-fw itembutton trashbutton" ng-click="command('del', track, $event)"/>
                <i class="fa fa-plus fa-fw itembutton" ng-click="command('add', track, $event)"/>
                <i class="fa fa-play fa-fw itembutton" ng-click="command('play', track, $event)"/>
            </div>
            <div>
                <div class="ellide noselect" on-long-press="showMenu(track)">{{ track | displayTrack }}</div>
                <div class="subtext ellide noselect" on-long-press="showMenu(track)">{{ track | displayTrackDetail }}</div>
            </div>
            <hr class="divider"/>
        </div>
    </div>
<div>
