/* drag:toolbar scrollbar:overlay*/
QToolBar,
ToolBar {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #ececec, stop: 1 #d2d2d2);
  border: 0px;
}

QToolBar:active,
ToolBar:active {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #cccccc, stop: 1 #b0b0b0);
  border: 0px;
}

QToolBar QToolButton,
QToolBar QLabel,
ToolBar QToolButton,
ToolBar QLabel {
  color: #222222;
}

QToolBar QToolButton,
QToolBar QLabel:active,
ToolBar QToolButton,
ToolBar QLabel:active {
  color: #222222;
}

QToolBar QToolButton,
ToolBar QToolButton {
  background: transparent;
  border: 1px outset transparent;
}

QToolBar QToolButton:hover,
ToolBar QToolButton:hover {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #eeeeee, stop: 1 #d8d8d8);
  border-radius: 4px;
  border: 1px outset #606060;
}

QToolBar QToolButton:pressed,
QToolBar QToolButton:checked,
ToolBar QToolButton:pressed,
ToolBar QToolButton:checked {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #a0a0a0, stop: 1 #d8d8d8);
  border-radius: 4px;
  border: 1px inset #505050;
}

QMenu::separator {
  background-color: #ececec;
  height: 1;
}
